@media (max-width : 576px) {
  .Footer{

    .d-flex{

      .ul1{
        display: block;
        text-align: center;
        li{
          margin: 0 auto;
          margin-bottom: 24px !important;
        }
      }
    }
  }
}

@media (max-width : 768px) {
  .Footer{

    .d-flex{
      display: block !important;
      ul{
        justify-content: center;
        margin: 0 auto;
      }

      .ul1{
        margin-bottom: 40px !important;
      }
    }
  }

  .Contact{
    .contact-form{
      margin-bottom: 25px;
    }
  }
}

@media (max-width : 992px) {

  .About{
    .row{
      div{
        img{
          margin-bottom: 25px;
        }
      }
    }
  }

  .column-reverse{
    flex-direction: column-reverse !important;
  }
  .Header{
    .header-body{
      padding: 48px 24px;
      gap: 25px;
  
      img{
        width: 100%;
        margin-bottom: 24px;
      }
  
      .header-info{
        h2{
          font-style: normal;
          font-weight: 700;
          font-size: 56px;
          line-height: 66px;
          color: #FFFFFF;
          margin-bottom: 15px;
        }
  
        p{
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: rgba(255, 255, 255, 0.75);
          margin-bottom: 48px;
        }
  
        button{
          display: flex;
          background: none;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 10px 32px;
          gap: 10px;
          width: 227px;
          height: 40px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          color: #FFFFFF;
        }
      }
    }
  }
}